# Actionpack controller

snippet respond_to
	respond_to do |wants|
		wants.${1:html}${2}
	end
snippet rt
	respond_to
snippet wants
	wants.${1:js|json|xml|html}${2}
snippet flash
	flash[:${1:notice}] = "${2}"
snippet bf
	before_filter :${1}
snippet sbf
	skip_before_filter :${1}, :only => [ :${2:method} ]
snippet helm
	helper_method :${1}
