[submodule "bundle/snipmate.vim.git"]
	path = bundle/snipmate.vim.git
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/textile.vim.git"]
	path = bundle/textile.vim.git
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-cucumber.git"]
	path = bundle/vim-cucumber.git
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git.git"]
	path = bundle/vim-git.git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-haml.git"]
	path = bundle/vim-haml.git
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-markdown.git"]
	path = bundle/vim-markdown.git
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-rails.git"]
	path = bundle/vim-rails.git
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-repeat.git"]
	path = bundle/vim-repeat.git
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround.git"]
	path = bundle/vim-surround.git
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-align.git"]
	path = bundle/vim-align.git
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-shoulda.git"]
	path = bundle/vim-shoulda.git
	url = git://github.com/tsaleh/vim-shoulda.git
[submodule "bundle/vim-supertab.git"]
	path = bundle/vim-supertab.git
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/vim-tcomment.git"]
	path = bundle/vim-tcomment.git
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vim-ruby.git"]
	path = bundle/vim-ruby.git
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/scss-syntax.vim.git"]
	path = bundle/scss-syntax.vim.git
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-jquery.git"]
	path = bundle/vim-jquery.git
	url = git://github.com/itspriddle/vim-jquery.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-abolish.git"]
	path = bundle/vim-abolish.git
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/css.vim.git"]
	path = bundle/css.vim.git
	url = git://github.com/xenoterracide/css.vim.git
[submodule "bundle/vim-endwise.git"]
	path = bundle/vim-endwise.git
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/gist-vim.git"]
	path = bundle/gist-vim.git
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-javascript.git"]
	path = bundle/vim-javascript.git
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdcommenter.git"]
	path = bundle/nerdcommenter.git
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/rvm.vim.git"]
	path = bundle/rvm.vim.git
	url = git://github.com/csexton/rvm.vim.git
[submodule "bundle/vim-rake.git"]
	path = bundle/vim-rake.git
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-bufonly.git"]
	path = bundle/vim-bufonly.git
	url = git://github.com/duff/vim-bufonly.git
[submodule "bundle/vim-ragtag.git"]
	path = bundle/vim-ragtag.git
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-themes.git"]
	path = bundle/vim-themes.git
	url = git://github.com/gudleik/vim-themes.git
[submodule "bundle/vim-matchit.git"]
	path = bundle/vim-matchit.git
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-snippets.git"]
	path = bundle/vim-snippets.git
	url = git://github.com/gudleik/vim-snippets.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-slim.git"]
	path = bundle/vim-slim.git
	url = git://github.com/gudleik/vim-slim.git
[submodule "bundle/tabular.git"]
	path = bundle/tabular.git
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-greplace"]
	path = bundle/vim-greplace
	url = git://github.com/skwp/greplace.vim.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/thePapacy/vim-css-color.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/css.vim"]
	path = bundle/css.vim
	url = git://github.com/xenoterracide/css.vim.git
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/gitv.git"]
	path = bundle/gitv.git
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/vim-colors-solarized.git"]
	path = bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-coffee-script.git"]
	path = bundle/vim-coffee-script.git
	url = git://github.com/grayrest/vim-coffee-script.git
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
